body{background-color: yellow;}

a:link{
    color: red;
}

a:visited{
    color: blue;
}

h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;
    text-align: right;
    font-style: italic;
}

p::first-letter{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

em{
    color: red;
    font-style: normal;
}