body{background-color: yellow;}

a:link{
    color: red;
}

a:visited{
    color: blue;
}

h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;
    text-align: right;
    font-style: italic;
}

span{
    font-size: xx-large;
}

h3{
    color: red;
    text-align: right;
}

p::first-letter{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

em{
    color: red;
    font-style: normal;
}
table{
    background-color: cyan;
    border-spacing: 5px;
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: center;
  }