body{background-color: yellow;}

a:link{
    color: red;
}

a:visited{
    color: blue;
}

h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;
    text-align: right;
    font-style: italic;
}

div {
    font-size: xx-large;
}

h3{
    color: red;
    text-align: right;
}

p::first-letter{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

em{
    color: red;
    font-style: normal;
}
table{
    background-color: cyan;
    border-spacing: 5px;
    border-collapse: collapse;
    animation-name: tableChange;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
@keyframes tableChange{
    from{
        background-color: cyan;
        color: black;
    }
    to{
        background-color: green;
        color: white;
    }
}
td {
    padding: 15px;
    text-align: center;
  }
  #movetxt {
    color: red;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;    
}

@keyframes moving {
    from {transform: translateX(10%);}
    to {transform: translateX(80%);}
}