form{
    width: 400px;
}

input{
    width: 100%;
}

textarea{
    resize: vertical;
    max-height: 100px;
}

input, textarea{
    outline: none;
    border: 1px solid black;
}

input:focus, textarea:focus{
    box-shadow: 0 0 7px rgba(0, 0, 139, 0.7);
}

::placeholder{
    color: rgba(0, 0, 139, 0.7);
    opacity: 1;
}