* {
    text-align: center;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

p {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
    font-size: small;
}