* {
    text-align: center;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li.navbar {
    display: inline;
    padding-left: 10px;
}
img {
        height: 300px;
        width: 200px;
    }
p {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
